* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body,
body>.bg-main {
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    overflow: hidden;
}

.bg-main {
    background: #c2c2c2fd;
}

.bg-main>.container {
    width: min(100% - 1em, 69em);
    margin-inline: auto;
}